body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}
label {
    font-size: 40px;
}
input {
    margin: 4px;
    width: 180px;
    height: 40px;
    padding: 5px;
    font-size: 20;;
}
label input {
    width: 30px;
    height: 30px;
}